DEBUG=True
SECRET_KEY=your-secret-key-here
DB_NAME=djilab_db
DB_USER=admin
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5433
MINIO_URL=http://localhost:9000
MINIO_BUCKET=djilab-products
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=your-secret-key
